.navigation-menu {
    background-color: lightgrey;
    color: blue;
    padding: 10px;
    margin: 5px;
}
.navigation-menu:hover{
    color: red;
}
.self-intro {
    background-color: lightblue;
    padding: 20px;
}
.self-intro h1 {
    color: darkgreen;
}
