.navigation-menu {
    background-color: lightgrey;
    color: blue;
    padding: 10px;
    margin: 5px;
}
.navigation-menu:hover{
    color: red;
}
.self-intro {
    background-color: lightblue;
    padding: 20px;
}
.self-intro h1 {
    color: darkgreen;
}
.form input{
    border: 2px solid grey;
}
.form button {
    background-color: green;
    color: white;
    margin: 15px;
}